*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(150, 96, 144)
}

ul {
    list-style: none;
    font-style: italic;
}

a{
    text-decoration: none;
    font-weight: 700;
}

body {
    background: url(./pexels-madison-inouye-1831234.jpg) no-repeat center center fixed;
    background-size: cover;
}

#logo {
    width: 20%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-bottom: 45px ;
}

header ul {
    display: flex;
}

header ul li {
    padding: 5px;
    border-bottom: 3px dashed #fff;
}

header ul li a{
    transition: 800ms;
}

header ul li a:hover {
color: blueviolet;
text-decoration: underline;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 45px;
}

.container .name h5{
    font-size: 25px;
}

#arrow{
    font-size: 35px;
    cursor:pointer;
    animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

#animation{
    transition: 300ms;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.active{
    display: block !important;
}

#about p {
    max-width: 600px;
    margin: 0 auto;
}

.form {
    width: 40%;
    margin: 0 auto;
    border: thick double #fff;
    padding: 25px;
    margin-top: 30px;
}

.form input {
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.form button {
    width: 15%;
    padding: 5px 10px;
    background: linear-gradient(to right ,rgb(138,43,226) 50%,  rgb(150, 96, 144) 50%) ;
    background-size: 200% 100%;
    background-position: right bottom;
    color: #fff;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-top: 20px;
    margin-left: -5px;

}

.form button:hover {
    background-position: left bottom;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .form {
        width: 100%;
}
}

@media only screen and (max-width: 480px) {
    .container .name h1{
        font-size: 30px
    }

    .container .name h5{
        font-size: 15px;
    }

    #about p {
        max-width: 80%;
        text-align: justify;
    }

    header ul li{
       font-size:10px;
    }

    .form{
        width: 110%;
    }
}